* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.navbar {
  background: #ffffff;
}

.navbar-brand .lego {
  width: 45px;
}

.navbar-nav .nav-link {
  color: #525151;
  font-size: 14px;
  font-weight: 400;
  margin-right: 35px;
  transition: 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #000000;
}

.logo {
  width: 22px;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  filter: invert(0.3);
}

@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  .navbar-nav.d-flex {
    justify-content: center;
    margin-top: 10px;
  }
}

/* BANNER */
.banner {
  background-image: url('Resources/Main Banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 400px; 
  padding: 60px 6%;
}

.banner-text {
  max-width: 45%; 
  margin-left: 5%; 
  margin-top: 7%;
}

.banner-text h2 {
  font-size: 30px;
  margin-bottom: 12px;
}

.banner-text p {
  font-size: 14.5px;
  margin-bottom: 18px;
}

.shop-btn {
  background: #ffffff;
  color: #171717;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  transition: 0.3s;
}

.shop-btn:hover {
  background: #555;
}

/* Cards */
.card {
  background: none;    
  border: none;         
  box-shadow: none;  
  padding: 0;         
  transition: 0.3s;     
  text-align: center;
}

.card img {
  width: 300px;
  margin-bottom: 12px;
}

.card h3{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.card p{
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.card:hover {
  transform: translateY(-10px);
}


@media (max-width: 768px) {
  .cards .card {
    margin: 0 auto;
    max-width: 320px;
  }
  .cards .row {
    flex-direction: column;
    align-items: center;
  }
}

/* MISSION */
.mission h1 {
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.mission p{
  font-size: 14px;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

/* FOOTER */
.lego-footer {
  background-color: #201547;
  font-size: 14px;
}

.lego-footer-logo {
  width: 70px;
}

.footer-location {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #2b2254;
  padding: 6px 10px;
  border-radius: 5px;
  width: fit-content;
}

.location-icon {
  width: 16px;
  height: 16px;
}

.footer{
  font-family: "Montserrat", sans-serif;
}

.footer-title {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 30px;
}

.footer-link {
  color: #ccc;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  transition: 0.3s;
  font-size: 12px;
  margin-right: 10px;
}

.footer-link:hover {
  color: #fff;
}

.footer-location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: rgb(254, 254, 254);
}

.footer-location .location-icon {
  width: 18px;
  height: 18px;
}

.footer-divider {
  border-color: rgba(255, 255, 255, 0.2);
  margin: 20px 0;
}

.footer-social-icons img {
  width: 28px;
  margin: 0 10px;
  transition: 0.3s;
}

.footer-social-icons img:hover {
  transform: scale(1.1);
}

.footer-bottom p {
  color: #aaa;
  font-size: 13px;
}

@media (max-width: 768px) {
  .lego-footer .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .lego-footer .col {
    width: 100%;
    margin-bottom: 20px;
  }

  .lego-footer .footer-title {
    font-size: 14px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 6px;
  }

  .lego-footer ul {
    padding-left: 0;
  }

  .lego-footer ul li {
    margin: 6px 0;
  }

  .lego-footer .footer-social-icons {
    justify-content: center;
  }

  .lego-footer .footer-location {
    justify-content: center;
    margin: 0 auto 15px auto;
  }

  .lego-footer .footer-location span {
    font-size: 14px;
  }

  .lego-footer .footer-location img {
    width: 18px;
    height: 18px;
  }
}
